name: Run tests, dependency audit, CS fixer & deploy
on: ['push']
jobs:
  deploy:
    name: Deploy to GitHub
    runs-on: ubuntu-20.04
    if: startsWith(github.ref, 'refs/tags/') # only tags
    steps:
      - name: Get tag name
        id: set-tag
        run: echo ::set-output name=TAG_NAME::${GITHUB_REF:10}
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Replace package names in composer.json
        run: sed -i 's/cart-integration-magento2-//g' composer.json
      - name: Build ZIP
        run: zip shopgate-m2-${{ steps.set-tag.outputs.TAG_NAME }}.zip composer.json
      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Shopgate Cart Integration Magento 2 Meta Package ${{ github.ref }}
          draft: true
      - name: Upload ZIP to GitHub release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./shopgate-m2-${{ steps.set-tag.outputs.TAG_NAME }}.zip
          asset_name: shopgate-m2-${{ steps.set-tag.outputs.TAG_NAME }}.zip
          asset_content_type: application/zip

  notify-release-success:
    name: Notify developers of new release
    needs: [deploy]
    runs-on: ubuntu-20.04
    if: |
      success() &&
      startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Get tag name
        id: set-tag
        run: echo ::set-output name=TAG_NAME::${GITHUB_REF:10}
      - name: Notify on Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_MERCHANT_UNIT }}
          SLACK_USERNAME: 'GitHub Actions'
          SLACK_ICON_EMOJI: ':octocat:'
          SLACK_TITLE: New release for ${{ github.repository }}
          SLACK_MESSAGE: Released version ${{ steps.set-tag.outputs.TAG_NAME }} of ${{ github.repository }}

  notify-release-fail:
    name: Notify developers of failed release
    needs: [deploy]
    runs-on: ubuntu-20.04
    if: |
      failure() &&
      startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Get tag name
        id: set-tag
        run: echo ::set-output name=TAG_NAME::${GITHUB_REF:10}
      - name: Notify on Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_MERCHANT_UNIT }}
          SLACK_USERNAME: 'GitHub Actions'
          SLACK_ICON_EMOJI: ':octocat:'
          SLACK_COLOR: '#A30200'
          SLACK_TITLE: Release failed for ${{ github.repository }}
          SLACK_MESSAGE: Release failed for version ${{ steps.set-tag.outputs.TAG_NAME }} of ${{ github.repository }}
